
/* Mixins */
=title()
    letter-spacing: 1px
    font-weight: bold


p 
    font-size: 1.1rem
    word-spacing: 1px

.number
    font-family: 'Londrina Outline', cursive
    font-size: 2em
    font-weight: bold

/* for titles like the introduction, project title .. etc */
.special-title
    +title()
    text-transform: uppercase
    position: relative
    font-size: .8rem
    &:before
        content: ''
        position: absolute
        height: 100%
        width: 1em
        top: 0
        transform: translateX(-180%)
        background-color: orange 

.big-title
    font-size: 6.5em
    +title()

.default-title
    +title()
    word-spacing: 1px


/* services layout */
.services
    .service
        &:nth-child(odd)
            background-color: #eee
            .service-image
                text-align: right
        &:nth-child(even)
            .service-image
                text-align: left

        
        .service-content
            margin: 0
            padding: 7em 
            height: 100%

            h2
                margin: 2em 0

        .service-image
            padding: 0
            margin: 0

            img
                width: 100%


.about-me, .contact
    padding: 1em 7em

.about-me

    line-height: 2
    margin-top: 5em
    margin-bottom: 15em
    @media(max-width: 768px)
        padding: 1em 
    h4 
        transform: translateX(30px)
    h1  
        margin: 1.3em 0 1.1em 0   



.contact
    margin-top: 8em
    margin-bottom: 3em
    & > p 
        margin-bottom: 4em

.boxes
    margin-bottom: 6em

.box
    padding: 5em 7em
.box1
    background-color: $blue
    color: #fff
.box2
    background-color: $light-blue
.arrow img
    height: auto
    width: 30px
        

.navbar
    padding: 0
    .navbar-brand
        img    
            width: 50px
    .nav-item
        padding: 3.5em 1em 1em
        margin-left: .5em
        text-transform: uppercase
        &.active
            background-color: $blue
            .nav-link
                color: #fff
        .nav-link
            color: #000
            font-weight: 600














